.contact .social-icons .icon{
    height: 20px;
    width: 20px;
}
.contact {
    margin-top: 20px;
}
.contact .footer {
    margin-top: 5px;
    margin-bottom:0px;
}
.social-icons a {
    text-decoration: none;
    color:currentColor;
}
@media (max-width: 425px) {
    .contact .social-icons .icon{
        height: 10px;
        width: 10px;
    }
}